# local configs
conf

logs
venv
src/__pycache__

# large files
models/*.h5

# do not upload dataset data
dataset/*
cams

# ide
.idea

# osx
.DS_Store

# local
run_devline_local.sh
run_detect_local.sh
run_live_local.sh

