IPython==8.4.0
h5py==3.7.0
keras==2.9.0
matplotlib==3.5.2
numpy==1.23.0
opencv-contrib-python==4.6.0.66
pyyaml==6.0
scikit-image==0.19.3
scipy==1.8.1
tensorflow==2.9.1
https://github.com/akTwelve/Mask_RCNN/archive/refs/heads/master.zip
